@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-sun-light;
  @apply bg-no-repeat bg-gradient-to-br min-h-screen from-30% from-ocean-dark to-ocean-light;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
